<section class="section">
    <article class="seccion__article">
        <h2 class="seccion__article--title">Título del post</h2>
        <p class="seciton__article--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas culpa mollitia recusandae pariatur qui placeat labore exercitationem, maxime, quidem, assumenda minus eius nisi a similique tempore vero voluptates quaerat iusto.</p>
    </article>

    <article class="seccion__article">
        <h2 class="seccion__article--title">Título del post</h2>
        <p class="seciton__article--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas culpa mollitia recusandae pariatur qui placeat labore exercitationem, maxime, quidem, assumenda minus eius nisi a similique tempore vero voluptates quaerat iusto.</p>
    </article>

    <article class="seccion__article">
        <h2 class="seccion__article--title">Título del post</h2>
        <p class="seciton__article--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas culpa mollitia recusandae pariatur qui placeat labore exercitationem, maxime, quidem, assumenda minus eius nisi a similique tempore vero voluptates quaerat iusto.</p>
    </article>
</section>