<section class="sectionauthor">
    <div class="sectionauthor__container">
        <img class="sectionauthor__container--image" src="https://via.placeholder.com/150x150" alt="círculo gris">
        <div>
            <h3 class="sectionauthor__container--title">Autor</h3>
            <p class="sectionauthor__container--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus architecto fugit at magnam esse. Obcaecati cum corporis esse qui. Repellendus numquam necessitatibus, neque deserunt quisquam eveniet ipsum. Quibusdam, obcaecati?</p>
        </div>
    </div>
    <div class="sectionauthor__menu">
        <ul class="sectionauthor__menu--secciones">
            <li>Sección 1</li>
            <li>Sección 2</li>
            <li>Sección 3</li>
            <li>Sección 4</li>
            <li>Sección 5</li>
        </ul>
    
        <ul class="sectionauthor__menu--categorias">
            <li>Categoría 1</li>
            <li>Categoría 2</li>
            <li>Categoría 3</li>
            <li>Categoría 4</li>
            <li>Categoría 5</li>
        </ul>
    </div>
    
</section>